<mat-card>
  <mat-card-title>Login</mat-card-title>

  <ng-container *ngIf="currentUser | async; else loginForm">
    <mat-card-content>
      <p>
        You are already logged in! Would you like to log out?
      </p>
    </mat-card-content>

    <mat-card-actions>
      <button mat-raised-button (click)="logout()">Logout</button>
    </mat-card-actions>
  </ng-container>

  <ng-template #loginForm>
    <form [formGroup]="form" (ngSubmit)="login()">
      <mat-card-content>
        <p>
          Use the form below to log in or <a routerLink="/create-account">create an account</a>.
        </p>

        <mat-form-field bp="full-width">
          <input matInput type="email" placeholder="Email Address" [formControlName]="controlNames.email" />
        </mat-form-field>
        <mat-form-field bp="full-width">
          <input matInput type="password" placeholder="Password" [formControlName]="controlNames.password" />
        </mat-form-field>

        <mat-error *ngIf="showError">Incorrect email address or password.</mat-error>
      </mat-card-content>

      <mat-card-actions>
        <button type="submit" mat-raised-button>Login</button>
      </mat-card-actions>

    </form>
  </ng-template>
</mat-card>
